/* Default font styles for the body */
body {
  font-family: $font-body;
  font-size: 0.9375rem;
  line-height: 1.5;
  color: $clr-default;
}

/* Default font styles for the headings */
h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6, 
.font-heading {
  font-family: $font-heading;
  line-height: 1.2; 
}

/* Font-size for the Default Headings */
h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

/* Font-size for the Tablet Headings */ 
@media (min-width: $tablet) {
  h1, .h1 {
    font-size: 3rem;
  }

  h2, .h2 {
    font-size: 2.5rem;
  }

  h3, .h3 {
    font-size: 2rem;
  }

  h4, .h4 {
    font-size: 1.75rem;
  }

  h5, .h5 {
    font-size: 1.5rem;
  }

  h6, .h6 {
    font-size: 1.25rem;
  }
}

/* Font-size for the Desktop Headings */
@media (min-width: $desktop) {
  h1, .h1 {
    font-size: 3.5rem;
  }

  h2, .h2 {
    font-size: 3rem;
  }

  h3, .h3 {
    font-size: 2.5rem;
  }

  h4, .h4 {
    font-size: 2rem;
  }

  h5, .h5 {
    font-size: 1.75rem;
  }

  h6, .h6 {
    font-size: 1.5rem;
  }
}