/* Hide element */ 
.hide {
    display: none;
}

/* Hide elements visually but keep them accessible to screen readers */
.sr-hide-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Text alignment */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
} 

.text-right {
    text-align: right;
}
