/* Container */
$container: 1140px;
$container-wide: 1340px; 

/* Breakpoints */
$mobile: 375px;
$phablet: 500px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;
$xl-desktop: 1400px;
$xxl-desktop: 1600px;

/* Font - Familys */
$font-primary:  "Overpass", sans-serif;

/* Font - Usages */ 
$font-heading: $font-primary;
$font-body: $font-primary;

/* Colors */ 
$clr-default: #414141;
$clr-body-bg: #141518;
$clr-white: #ffffff;
$clr-light-grey: #A7B1C2;
$clr-dark-blue: #2E4053;
$clr-darker-blue:  #141A24;
$clr-orange: #FC7614;
$clr-red: #CE0000;